* {
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
	width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	background-color: #f5f5f5;
	min-height: 10%;
	padding-left: 20px;
}

a {
	align-self: center;
	font-size: 26px;
	padding-right: 50px;
}

main {
	min-height: 70%;
	background-color: #DAE3E7;
    padding-left: 20px;
}

p {
    display: inline;
}

#container, .container-search {
    padding-top: 20px;
    display: flex;
}

#submit {
    margin-bottom: 30px;
}

#all-books {
    margin-top: 30px;
}


.title2, .title4 {
    min-width: 600px;
}

.title1, .title3, .title5 {
    min-width: 600px;
}

#title-container {
    display: flex;
    width: 100%;
}

span:nth-child(1), span:nth-child(3), span:nth-child(5)  {
    min-width: 600px;
    font-weight: bold;
    background-color: #f5f5f5;
}

span:nth-child(2), span:nth-child(4), span:nth-child(6) {
    min-width: 600px;
    font-weight: bold;
    background-color: #DAE3E7;
}

.search-label {
   margin-left: 50px;
}

.search-title {
    padding-top: 30px;
    padding-bottom: 20px;
}

#form-search-member {
	margin-bottom: 30px;
}

.member-title {
	display: inline-block;
}

.member-title:first-child{
    margin-right: 176px;
}

#memberID {
    background-color: antiquewhite;
    padding-left: 20px;
}

#input-container {
    flex-direction: column;
}

footer {
	display: flex;
	min-height: 20%;
	align-items: center;
	justify-content: center;
	background-color: #FFFF66;
}

.members-table {
    border-collapse: collapse;
    width: 50%;
}

.members-table td, .members-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.members-table tr:nth-child(even){background-color: #f2f2f2;}

.members-table tr:hover {background-color: #ddd;}

.members-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #50BFE6;
    color: white;
}

.button{
    border: none;
    background:none;
    background-color:#50BFE6;
    background-image: -webkit-linear-gradient(top,#50BFE6,#277ac1);
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 12px;
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#form-container {
    display: flex;
    flex-direction: column;
}


.form-input-container {
    flex-direction: row;
}

input:focus{
    background-color: #FAFFBD;
}

h2, h4{
    margin-bottom: 40px;
}

.span-asterisk {
    color: red;
}

.form-controls{
    margin-top: 40px;
    width: 100px;
}

.form-controls:first-child {
    margin-right: 30px;
}

#form-controls-container {
    display: inline;
}
