<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
  <h2 class="search-title">Loan</h2>

  <form id="form-search-loan" action="#" th:action="@{/loan}" th:object="${loanForm}" method="post">
    <label><b>Please enter Member Id:</b></label>
    <input name="memberID" id="member-loan" type="text"
           placeholder="MemberID 9 is the only member with fine hardcoded" th:value="${loanForm.memberID}">
    <span class="form-error"
          th:if="${#fields.hasErrors('memberID')}"
          th:errors="*{memberID}">Invalid id</span>
    <label id="label-book"><b>Please enter Book Id:</b></label>
    <div th:if="${loanForm.memberID != null}">
      <input name="bookID" id="book-loan" type="text" placeholder="MemberID 9 has BookID 1 on loan" th:value="${loanForm.bookID}">
      <span class="form-error"
            th:if="${#fields.hasErrors('bookID')}"
            th:errors="*{bookID}">Invalid id</span>
    </div>
    <input id="submit" type="submit" class="button" value="Search"/></input>

    <div th:if="${loanForm.memberID &gt; 0 and loanForm.memberID &lt; 10}">
      <table class="members-table search-table">
        <tr>
          <th>Book ID</th>
          <th>Fine Outstanding</th>
        </tr>
        <tr th:each="element: ${booksMembers}">
          <td th:text="${element.key.bookID}"></td>
          <td th:text="${element.value.finesOutstanding}"></td>
        </tr>
      </table>
    </div>

  </form>

</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
