<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<main>
	<article th:each="member : ${memberskey}">
		Id: <span th:text=${member.memberID}></span>
		| Name: <span th:text=${member.name}></span>
		| Address: <span th:text=${member.address}></span>
		| Date of birth: <span th:text=${member.dateOfBirth}></span>
		| Loan Limit: <span th:text=${member.loanLimit}></span>
		| Loan Length: <span th:text=${member.loanLength}></span>
		| Fines Outstanding: <span th:text=${member.finesOutstanding}></span>
    | Loans: <span th:each="loan : ${member.loans}"></span>
    Loan: <span th:text=${loan}></span>
    | Books: <span th:each="book : ${member.books}"></span>
    Book: <span th:text=${book}></span>

  </article>
	</main>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
