<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
  <h2 class="search-title">Login</h2>
  <h4>Please fill out the following form with your credentials:</h4>
  <h4>Fields marked with <span class="span-asterisk">*</span> are required.</h4>
  <h4>Librarian login username: <span class="span-asterisk">admin</span></h4>
  <h4>Librarian login password: <span class="span-asterisk">password</span></h4>
  <form method="post" th:object="${userForm}">
    <div id="form-container">
      <label for="username">Username:</label>
      <div class="form-input-container">
        <input type="text" id="username" name="username" class="form-input" th:value="*{username}"/>
        <span class="span-asterisk">*</span>
        <span class="form-error"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">Invalid username</span>
      </div>
      <label for="password">Password:</label>
      <div class="form-input-container">
        <input type="text" id="password" name="password" th:value="*{password}"/>
        <span class="span-asterisk">*</span>
        <span class="form-error"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">Invalid password</span>
      </div>
      <div id="form-controls-container">
        <input class="form-controls" type="reset" value="Clear" />
        <input class="form-controls" type="submit" value="Login" />
      </div>
    </div>
  </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
