<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h2 class="search-title">Payment</h2>
    <form id="form-search-member" action="#" th:action="@{/payment}" th:object="${memberKey}">
        <label><b>First please enter Member Id:</b></label> <input name="member" id="member">
        <input id="submit" type="submit" value="Search"/>
        </input>
        <div>
            <h3 class="member-title">Member Name</h3>
            <h3 class="member-title">Current Fine</h3>
        </div>
        <section class="container-search" th:each="m: ${memberKey}">
            <p class="title1" th:text="${m.name}">No Name!</p>
            <p class="title3" th:text="${m.finesOutstanding}">No Fine!</p>
        </section>
    </form>
    <form action="/update" th:action="@{/update}" method="post" th:object="${memberKey}">
        <div th:if="${not #lists.isEmpty(memberKey)}">
            <h2 class="search-title">Update fine outstanding</h2>
            <div th:each="m: ${memberKey}">
                <label>Member Id:<input type="text" name="memberID" id="memberID" th:value="${m.memberID}"
                                        readonly></label>
            </div>
            <section class="container-search"></section>
            <label><b>Now please make a payment:</b>
                <input type="text" name="finesOutstanding" id="fine">
            </label>
            </section>
            <input type="submit" value="Submit">
        </div>
    </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>