<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
  <div id="title-container">
    <span>Member Name</span>
    <span>Member Fine</span>
  </div>
  <div id="container" th:each="element: ${memberLoanMap}">
    <p class="title1" th:text="${element.key}">No Name!</p>
    <p class="title2" th:text="${element.value}">No Fine!</p>
  </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
