<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.w3.org/1999/html">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>

  <div id="title-container" > <span>Book Id</span> <span>Book Title</span> <span>Member Id</span> <span>Member Name</span></div>
  <div id="container" th:each="element: ${bookmembermap}">
    <p id="book-id" th:text="${element.key.bookID}">No Id!</p>
    <p id="book-title" th:text="${element.key.title}">No Id!</p>
    <p id="member-id" th:text="${element.value.memberID}">No Name!</p>
    <p id="member-name" th:text="${element.value.name}">No Name!</p>
  </div>

</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
