<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.w3.org/1999/html">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
  <div id="title-container">
    <span>Book Id</span>
    <span>Book Title</span>
    <span>Member Id</span>
    <span>Member Name</span>
  </div>
  <div id="container" th:each="element: ${bookmembermap}">
    <p class="title1" th:text="${element.key.bookID}">No Id!</p>
    <p class="title2" th:text="${element.key.title}">No Title!</p>
    <p class="title3" th:text="${element.value.memberID}">No Id!</p>
    <p class="title4" th:text="${element.value.name}">No Name!</p>
  </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
