<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <form id="form1" action="#" th:action="@{/search}" th:object="${searchForm}", method="post">

      <label class="search-label">Find book(s) by author:</label>
        <input name="author" id="search0" type="text" placeholder="e.g, Robert Martin">
        <span class="form-error"
            th:if="${#fields.hasErrors('author')}"
            th:errors="*{author}">Invalid title</span>

      <label class="search-label">Find book by title:</label>
      <input name="title" id="search1" type="text" placeholder="e.g, Hadoop in action">
      <span class="form-error"
            th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}">Invalid title</span>

        <input id="submit" class="button" type="submit" value="Search" />
      <div th:if="${not #lists.isEmpty(booksLoans)}">
          <h3>Books on Loan Search results:</h3>

          <table class="members-table search-table">
            <tr>
              <th>Book ID</th>
              <th>Book Title</th>
              <th>On Loan to Member ID</th>
            </tr>
            <tr th:each="element: ${booksLoans}">
              <td th:text="${element.value.bookId}"></td>
              <td th:text="${element.key.title}"></td>
              <td th:text="${element.value.memberId}"></td>
            </tr>
          </table>

          <table class="members-table search-table">
            <tr>
              <th>On Loan to Member Name</th>
            </tr>
            <tr th:each="element: ${loansMembers}">
              <td th:text="${element.value.name}"></td>
            </tr>
          </table>
      </div>
      <div th:if="${not #lists.isEmpty(availableBooks)}">
        <h3>Books Available Search results:</h3>
        <table class="members-table search-table">
          <tr>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Book Author</th>
          </tr>

          <!--This is a bit of a hack to enforce a single book is returned
              and not the same book returned 9 times (num of books on loan).-->
          <tr  th:each="b, iterItems : ${availableBooks.books}" th:unless="${iterItems.index > 0}">
            <td th:text="${b.bookID}"></td>
            <td th:text="${b.title}"></td>
            <td th:text="${b.author}"></td>
          </tr>

        </table>
      </div>
    </form>

    <div id="form-show-all">
    <form id="form2" action="#" th:action="@{/search}" th:object="${booksAll}">
        <input type="button" class="button" id="find-all-button" value="Show All Books" onclick="findAllButtonClick()" />
        <div id="all-books-cont" style="display: none">
        <h3 id="all-books">All books:</h3>
        <table class="members-table">
          <tr>
            <th>Title</th>
            <th>Author</th>
          </tr>
          <tr th:each="b: ${booksAll}">
            <td th:text="${b.title}">No Title!</td>
            <td th:text="${b.author}">No Author!</td>
          </tr>
        </table>
        </div>
    </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<script>
    function findAllButtonClick() {
        var booksDivContainer = document.getElementById("all-books-cont");
        var toggleButton = document.getElementById("find-all-button");

        if(booksDivContainer.style.display === "none") {
            booksDivContainer.style.display = "block";
        } else {
            booksDivContainer.style.display = "none";
        }

        if (toggleButton.value === "Show All Books") {
            toggleButton.value = "Hide All Books"
        } else {
            toggleButton.value = "Show All Books"
        }
    }
</script>

</body>
</html>
