<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h3 class="search-title">Find book by title:</h3>
    <form id="form1" action="#" th:action="@{/searchtitle}" th:object="${bookTitle}">
        <input name="book" id="search" type="text" placeholder="Author name">
        <input id="submit" type="submit" class="button" value="Search" />
        </input>
        <div th:if="${not #lists.isEmpty(bookTitle)}">
            <h3>Search results:</h3>
                <section class="container-search" th:each="b: ${bookTitle}">
                <p class="title1" th:text="${b.title}">No Name!</p>
                <p class="title2" th:text="${b.author}">No Fine!</p>
            </section>
        </div>
    </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
