<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
  <form id="form1" action="#" th:action="@{/searchtitle}" th:object="${searchForm}" method="post">
    <label class="search-label">Find book(s) by title:</label>
    <input name="title" id="search" type="text" placeholder="e.g, Clean Code">
    <span class="form-error"
          th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}">Invalid title</span>
    <input id="submit" class="button" type="submit" value="Search" />
    </input>
    <div th:if="${not #lists.isEmpty(searchForm.author)}">
      <h3>Search results:</h3>
      <table class="members-table">
        <tr>
          <th>Title</th>
          <th>Author</th>
        </tr>
        <tr th:each="b: ${searchForm}">
          <td th:if="${b.title != null}" th:text="${b.title}"></td>
          <td th:if="${b.author != null}" th:text="${b.author}"></td>
        </tr>
      </table>
    </div>
  </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
